version: '3.8'

services:
  backend:
    image: chentexdd/mi-backend-proyecto:latest
    # Mapeamos DIRECTO: Puerto 2999 de tu PC -> Puerto 2999 del contenedor
    ports:
      - "2999:2999"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: always