version: '3.8'

services:
  backend:
    image: chentexdd/mi-backend-proyecto:latest
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    image: chentexdd/mi-frontend-proyecto:latest
    ports:
      - "5173:80"
    env_file:
      - ./frontend/.env
    restart: always
